# ALLOWED FRONT WEBPAGE (USED FOR CORS POLICY)
FRONT_WEB=http://localhost:8080

# MODE -> DEFINES WHAT TO DO WITH THE SCRAPED DATA
# APPEND = SCRAPED DATA WILL BE ADDED TO COLLECTION FILE AND PRINTED TO CONSOLE
# READ = SCRAPED DATA WILL ONLY BE PRINTED TO CONSOLE
MODE=APPEND

# LOCAL BROWSER'S EXECUTABLE PATH
BROWSER_PATH=/